<form action="/kategori/store" method="POST">
  <div class="mb-3">
    <label>Nama Objek</label>
    <input type="text" name="nama_objek" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Kategori</label>
    <select name="id_kategori" class="form-control" required>
      <% kategori.forEach(kat => { %>
        <option value="<%= kat.id_kategori %>"><%= kat.nama_kategori %></option>
      <% }) %>
    </select>
  </div>
  <div class="mb-3">
    <label>Deskripsi</label>
    <textarea name="deskripsi" class="form-control" required></textarea>
  </div>
  <div class="mb-3">
    <label>Nama File Gambar (contoh: trenggiling.jpg)</label>
    <input type="text" name="gambar" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Nama File Audio (contoh: trenggiling.mp3)</label>
    <input type="text" name="audio" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Simpan</button>
</form>
