<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/logres.css" />
  </head>
  <body>
    <div class="form-card">
      <h2>Register</h2>

      <% if (success) { %>
        <div class="success"><%= success %></div>
      <% } %>

      <% if (error) { %>
        <div class="alert"><%= error %></div>
      <% } %>

      <form action="/register" method="POST">
        <div class="input-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            required
            oninvalid="this.setCustomValidity('Emailnya belum kamu isi loh!!')"
            oninput="this.setCustomValidity('')"
          />
        </div>

        <div class="input-group">
          <label for="username">Username</label>
          <input
            id="username"
            type="text"
            name="username"
            required
            oninvalid="this.setCustomValidity('Usernamenya belum kamu isi loh!!')"
            oninput="this.setCustomValidity('')"
          />
        </div>
        
        <div class="input-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            required
            oninvalid="this.setCustomValidity('Passwordnya belum kamu isi loh!!')"
            oninput="this.setCustomValidity('')"
          />
        </div>
        <button type="submit">Daftar</button>
      </form>

      <p>Sudah punya akun? <a href="/login">Login</a></p>
    </div>
  </body>
</html>
